
  <table class="text-center table table-hovered table-bordered">
    <thead>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.fName" placeholder="First Name">
        </td>
        <td>First Name</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.lName" placeholder="Last Name">
        </td>
        <td>Last Name</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.email" placeholder="Email">
        </td>
        <td>Email</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.phone" placeholder="Phone Number">
        </td>
        <td>Phone</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.governorate" placeholder="Governorate">
        </td>
        <td>Governorate</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.city" placeholder="City">
        </td>
        <td>City</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.street" placeholder="Street">
        </td>
        <td>Street</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="text" [(ngModel)]="newAdmin.postalCode" placeholder="postal Code">
        </td>
        <td>Postal Code</td>
      </tr>
      <tr>
        <td>
          <input class="form-control text-center" type="password" [(ngModel)]="newAdmin.password" placeholder="Password">
        </td>
        <td>Password</td>
      </tr>
      <tr>
        <td colspan="2">
          <a class="btn btn-success w-25" (click)="AddNewAdmin()">Add Admin</a>
        </td>
      </tr>
    </thead>
  </table>
