<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
        <div class="form-header">
            <img src="assets/images/logo.png" alt="Form Image" class="form-image">
            <h2 class="form-title">تسجيل الدخول</h2>
        </div>
        <div class="form-group">
            <label class="label">البريد الالكترونى</label>
            <input id="email" formControlName="email" class="form-control" type="email">
            <div class="text-danger" *ngIf="!email?.valid && email?.touched">
                <span *ngIf="email?.errors?.['required']">البريد الالكترونى مطلوب</span>
                <span *ngIf="email?.errors?.['email']">البريد الالكترونى غير صالح</span>
                <span *ngIf="email?.errors?.['maxlength']">البريد الالكترونى يجب أن لا يزيد عن 50 حرف</span>
            </div>
        </div>
        <div class="form-group">
            <label class="label">كلمة المرور</label>
            <input id="password" formControlName="password" class="form-control" type="password">
            <div class="text-danger" *ngIf="!password?.valid && password?.touched">
                <span *ngIf="password?.errors?.['required']">كلمة المرور مطلوبة</span>
                <span *ngIf="password?.errors?.['maxlength']">كلمة المرور يجب أن لا تزيد عن 50 حرف</span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">تسجيل الدخول</button>
        </div>
    </form>
</div>