<div class="text-center">
  <h1>Manage Admins</h1>
</div>

<table class="table table-bordered table-hover text-center">
  <thead>
    <tr>
      <td>Email</td>
      <td>Name</td>
      <td>Id</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of adminsList; let i = index">
      <td>{{admin.email}}</td>
      <td>{{admin.fName}}  {{admin.lName}}</td>
      <td>{{i+1}}</td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="text-center W-25">
      <a routerLink="add-admin" class="btn btn-primary">Add New Admin</a>
    </div>
  </div>
</div>
