<div class="sidebar">
    <ul>
        <li>
            <a [routerLink]="['/admin-products/admin-products-list']" routerLinkActive="active">
                <i class="fas fa-box-open icon"></i> المنتجات
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin-offers/show-all-offers']" routerLinkActive="active">
                <i class="fas fa-tags icon"></i> العروض
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin-categories/categories-list']" routerLinkActive="active">
                <i class="fas fa-th-list icon"></i> الأقسام
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin-categories/subcategories-list']" routerLinkActive="active">
                <i class="fas fa-list-alt icon"></i> الأقسام الفرعية
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin-user-management/view-admins']" routerLinkActive="active">
                <i class="fas fa-user-shield icon"></i> المدراء
            </a>
        </li>
    </ul>
</div>