<!-- Top Header -->
<div class="container">
  <a class="navbar-brand arabic" routerLink="/">
    <img [src]="webInfo?.webLogoImageUrl || '../../../../assets/images/Elkory-Phone-Logo-High-Quality.png'" alt="Ashraf-Logo" class="logo">
    <span class="logo-text">{{ webInfo?.webName || 'الكورى فون' }}</span>
  </a>

  <a [href]="'tel:' + (webInfo?.webPhone || '+01023596074')" class="phone">{{ webInfo?.webPhone || '+01023596074' }}</a>
  <div class="search__container">
    <app-search-product></app-search-product>
  </div>
  <div class="menu flex navbar-nav ms-md-auto align-items-center flex-row-reverse flex-lg-row">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" class="navbar-toggler">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <div tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" class="offcanvas offcanvas-end">
      <div class="navbar-nav ms-auto">
        <a aria-controls="collapseExample" class="nav-link lang arabic" aria-expanded="false" > 
          <span class="fi fi-eg"></span>
          <fa-icon [icon]="['fas', 'chevron-down']" class="arrow"></fa-icon>
        </a>
        @if (!accountService.isLoggedIn) {
          <a routerLink="/customer-account/login" routerLinkActive="active" class="nav-link arabic">
            <fa-icon [icon]="['fas', 'user-tie']" class="ms-2 fs-6"></fa-icon>
            تسجيل الدخول
          </a>
        } @else {
          <a (click)="logOut()" class="nav-link arabic text-danger">
            <fa-icon [icon]="['fas', 'user-tie']" class="ms-2 fs-6"></fa-icon>
            تسجيل الخروج
          </a>
        }
        @if (accountService.getTokenRole().toLowerCase() == 'customer') {
          <a (click)="goToPreviousOrders()" class="nav-link arabic text-danger">
            <!--use an icon for orders-->
            <i class="fas fa-shipping-fast ms-2 fs-6"></i>
            طلباتى
          </a>
        }
      </div>
    </div>
    @if (accountService.getTokenRole().toLowerCase() != 'admin') {
      <a routerLink="/customer-products/products-cart" routerLinkActive="active" class="nav-link position-relative cart-link arabic">
        <span class="cart-title">عربة التسوق</span>
        <fa-icon [icon]="['fas', 'shopping-cart']" class="me-2 fs-3 cart-icon bell-icon"></fa-icon>
        <span *ngIf="cartService.getNumberOfItemsInCart() > 0" class="notification-badge">{{ cartService.getNumberOfItemsInCart() }}</span>
      </a>
    }
    
    @if (accountService.getTokenRole().toLowerCase() == 'customer') {
      <button (click)="goToPreviousOrders()" routerLinkActive="active" class="nav-link position-relative cart-link arabic text-primary">
        <span class="cart-title">طلباتى</span>
        <i class="fas fa-shipping-fast me-2 fs-6"></i>
      </button>
    }
    @if(!accountService.isLoggedIn) {
      <button routerLink="/customer-account/login" routerLinkActive="active" class="nav-link position-relative cart-link arabic">
        <span class="cart-title">تسجيل الدخول</span>
        <fa-icon [icon]="['fas', 'user-tie']" class="me-2 fs-3 fs-6"></fa-icon>
      </button>
    } @else {
      <button (click)="logOut()" routerLinkActive="active" class="nav-link position-relative cart-link arabic text-danger">
        <span class="cart-title">تسجيل الخروج</span>
        <fa-icon [icon]="['fas', 'user-tie']" class="me-2 fs-3 fs-6"></fa-icon>
      </button>
    }
  </div>
</div>


<!-- Top Header
<div *ngIf="webInfo" class="container">
  <a class="navbar-brand arabic" href="/">
    <img [src]="webInfo.WebLogo" alt="{{webInfo.WebName}}" class="logo">
    <span class="logo-text">{{ webInfo.WebName }}</span>
  </a>
  <a [href]="'tel:' + webInfo.WepPhone" class="phone">{{ webInfo.WepPhone }}</a>
  <div class="search__container">
    <input type="text" class="search__input" placeholder="ابحث">
  </div>
  <div class="menu flex navbar-nav ms-md-auto align-items-center flex-row-reverse flex-lg-row">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" class="navbar-toggler">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <div tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" class="offcanvas offcanvas-end">
      <div class="navbar-nav ms-auto">
        <a aria-controls="collapseExample" class="nav-link lang arabic" aria-expanded="false">
          <span class="fi fi-eg"></span>
          <fa-icon [icon]="['fas', 'chevron-down']" class="arrow"></fa-icon>
        </a>
        <a routerLink="/auth" routerLinkActive="active" class="nav-link arabic">
          <fa-icon [icon]="['fas', 'user-tie']" class="ms-2 fs-6"></fa-icon>
          تسجيل الدخول
        </a>
      </div>
    </div>
    <a routerLink="/carts" routerLinkActive="active" class="nav-link position-relative cart-link arabic">
      <span class="cart-title">عربة التسوق</span>
      <fa-icon [icon]="['fas', 'shopping-cart']" class="me-2 fs-3 cart-icon"></fa-icon>
    </a>
      <button routerLink="/auth" routerLinkActive="active" class="nav-link position-relative cart-link arabic">
      <span class="cart-title">تسجيل الدخول</span>
      <fa-icon [icon]="['fas', 'user-tie']" class="me-2 fs-3 fs-6"></fa-icon>
    </button>
  </div>
</div> -->

