.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 10px;
   
}
  
  
  .phone {
    margin-right: 1rem;
    color: black;
  }
  
  .search__container {
    flex-grow: 1;
    margin: 0 1rem;
  }
  
  .search__input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-toggler {
    display: none;
  }
  
  .cart-link {
    display: flex;
    align-items: center;
    position: relative;
    color: gray;
  }
  .cart-link:hover{color: black;}
  
  .cart-title {
    margin-right: 0.5rem;
  }
  
  .logo-text {
    font-size: 1.8rem;
    font-weight: bold;
   
  }

  /* Responsive styles */
  @media (max-width: 991px) {
    .cart-link{
      display: none;
    }
    .burger-button{
      display: inline-block;
    }
    
  }
  @media (max-width:550px) {
    .logo-text {
display: none; 
   }
    
  }
  @media (min-width: 992px) {
    .burger-button{display: none;}

    
  }
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
  // .logo-text{
  //   display: none;
  // }
  .phone{display: none;}
    .menu {
      display: none;
    }
  
    .offcanvas {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Notification styles */
.notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

//start tooltip styles
.custom-tooltip {
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-tooltip.show {
  opacity: 1;
  transform: translateY(0);
}

.custom-tooltip.hide {
  opacity: 0;
  transform: translateY(-10px);
}

//end tooltip styles
.burger-button {
  // display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
  outline: none;
}

.burger-button .burger-line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: gray;
  transition: background-color 0.3s;
}

.burger-button:hover .burger-line {
  background-color: rgb(17, 16, 16);
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
right: 0;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.8s ease-in-out;
  transform: translateX(0);
  z-index: 1;
  background-color: #333;
  color: white;


}

.sidebar.collapsed {
  transform: translateX(100%);




}

// .sidebar nav ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .sidebar nav ul li {
//   padding: 10px;
// }

// .sidebar nav ul li a {
//   text-decoration: none;
//   color: #333;
//   display: block;
// }

// .sidebar nav ul li ul {
//   padding-left: 20px;
// }





.sidebar nav {
  margin-top: 100px;
 
}
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: large;
}



.sidebar nav ul li ul {
  list-style-type: none;
  padding-left: 20px;
}

.sidebar nav ul li ul li {
  padding: 5px 15px;
}

.sidebar nav ul li ul li ul {
  padding-left: 20px;
}


.close-btn {
  background: none;
  color: white;
border: 1px solid white;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
  border: 1.5px solid red;
  font-size: larger;
  transition: all 0.1s;
}

.close-btn:focus {
  outline: none;
}
.dropdown-container {
  display: none;}

  .fa-caret-down {
    float: left;
    padding-left: 8px;
  }

.sideCategory{
  margin: 10px 0;
}
li .sideCategory li:hover {
  background-color: gray;
  color: white;
}
.logOut{
  cursor: pointer;
}
