<div class="text-center">
  <h1>Manage All users</h1>
</div>

<table class="table table-bordered table-hover text-center">
  <thead>
    <tr>
      <th>رقم المستخدم</th>
      <th>الاسم</th>
      <th>البريد الإلكتروني</th>
      <th>الجوال</th>
      <th>الدور</th>
      <th>الإجراءات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList; let i = index">
      <td>{{i+1}}</td>
      <!-- <td>{{admin.role === 0 ? 'admin' : 'user'}}</td> -->
      <td>{{user.fName}}  {{user.lName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>مستخدم</td>
      <td>
        <button class="btn btn-danger" (click)="confirmDelete(user.userId!)">حذف</button>
        <button class="btn btn-danger" [routerLink]="['/admin-user-management/edit-user', user.email]">تعديل</button>
      </td>
    </tr>
  </tbody>
</table>

