#WAButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.2;
}
#WAButton:hover {
  opacity: 0.9;
  transition: 0.7s all;
}

#icon{
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

#icon:hover {
  background-color: darkgreen;
}
