
<div class="resetPassword-container">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="sendEmail()" class="resetPassword-form">
        <div class="form-header">
            <img src="assets/images/logo.png" alt="Form Image" class="form-image">
            <h2 class="form-title">نسيت كلمة المرور</h2>
        </div>
        <div class="form-group">
            <label class="label">البريد الالكترونى</label>
            <input id="email" formControlName="email" class="form-control" type="email">
            <div class="text-danger" *ngIf="!email?.valid && email?.touched">
                <span *ngIf="email?.errors?.['required']">البريد الالكترونى مطلوب</span>
                <span *ngIf="email?.errors?.['email']">البريد الالكترونى غير صالح</span>
                <span *ngIf="email?.errors?.['maxlength']">البريد الالكترونى يجب أن لا يزيد عن 50 حرف</span>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-submit" [disabled]="forgetPasswordForm.invalid">تحديث كلمة المرور</button>
        </div>
    </form>
</div>
