
<div class="account-container">
    <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmail()" class="account-form">
        <div class="form-header">
            <img src="assets/images/logo.png" alt="Form Image" class="form-image">
            <h2 class="form-title">تفعيل الحساب</h2>
        </div>
        <div class="form-group">
            <label class="label">البريد الالكترونى</label>
            <input id="email" formControlName="email" class="form-control" type="email">
            <div class="text-danger" *ngIf="!email?.valid && email?.touched">
                <span *ngIf="email?.errors?.['required']">البريد الالكترونى مطلوب</span>
                <span *ngIf="email?.errors?.['email']">البريد الالكترونى غير صالح</span>
                <span *ngIf="email?.errors?.['maxlength']">البريد الالكترونى يجب أن لا يزيد عن 50 حرف</span>
            </div>
        </div>
        <div class="form-group">
            <label class="label">كود التحقق</label>
            <input id="email" formControlName="code" class="form-control" type="email">
            <div class="text-danger" *ngIf="!code?.valid && code?.touched">
                <span *ngIf="code?.errors?.['required']">كود التحقق مطلوب</span>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-submit" [disabled]="verifyEmailForm.invalid">تحديث كلمة المرور</button>
        </div>
    </form>
</div>

