<div class="product-offers-container" *ngIf="!isoffersLoading; else loading">
    <ng-container *ngIf="offers && offers.length > 0; ">
      <div class="offer-card" *ngFor="let offer of offers">
        <div class="offer-image-container">
          <img class="offer-image" [src]="offer.image" alt="{{ offer.title }}">
          <div class="offer-text-overlay">
            <a routerLink="/admin-offers/offer-details/{{offer.offerId}}/customer">
            <h2>{{ offer.title }}</h2>
          </a>
            <span class="offerdetails">
              <p>{{ offer.description }}</p>
              <p>تاريخ العرض: {{ offer.offerDate | date }}</p>
              <p *ngIf="offer.duration">مدة العرض :  {{ offer.duration }} يوم</p>
              <p *ngIf="offer.packageDiscount">قيمة العرض: {{ offer.packageDiscount }} </p>
  
            </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  
  <ng-template #loading>
    <app-secondary-spinner></app-secondary-spinner>
  </ng-template>
  

  