<!-- <h2 mat-dialog-title class="dialog-title">
    <h4 class="modal-title">{{data.orderId}} طلب رقم</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onNoClick()"></button>
</h2>
<mat-dialog-content class="dialog-content" maxWidth="90vw">
    <div class="card rounded-3 mb-4" *ngFor="let productDetails of data.productOrders">
        <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-2 text-center">
                    <img src="{{productDetails.}}" class="img-fluid rounded-3 image" alt="image">
                </div>
                <div class="col-lg-4">
                    <p class="lead fw-normal mb-2">{{productDetails.product.title}}</p>
                    <p><span class="text-muted">Item Price: </span><span
                            class="badge text-bg-success">{{productDetails.product.price}} LE</span></p>
                </div>

                <div class="amount d-flex col-lg-3">
                    <p><span class="text-muted">Item amount :</span><span
                            class="fw-bold ms-1">{{productDetails.amount}}</span></p>
                </div>

                <div class="col-lg-2 offset-lg-1 mt-2 mt-lg-0">
                    <h5 class="mb-0 fw-bold">{{(productDetails.amount * productDetails.product.price).toFixed(2)}} LE
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body p-4 d-flex justify-content-between flex-wrap">
            <h5>السعر الإجمالى</h5>
            <h5 class="fw-bold">{{data.totalPrice}}</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-4 d-flex flex-wrap flex-column justify-content-center">
            <div class="text-muted lead text-center" *ngIf="mode=='admin'"><i>No review given yet</i></div>
            <div class="text-muted lead text-center" *ngIf="mode=='user' && ordersType=='pending'"><i>No response
                    yet</i></div>
            <div class="lead text-danger fw-bold text-center" *ngIf="mode=='user' && ordersType=='refused'">
                {{ordertDetails.message}}</div>
            <div class="lead text-success fw-bold text-center" *ngIf="mode=='user' && ordersType=='accepted'">Order is
                on the way</div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onNoClick()" class="btn btn-secondary">إغلاق</button>
</mat-dialog-actions> -->