<div
  class="spinner"
  [ngClass]="{ show: loading, hidden: !loading }"
  class="spinner-container"
>
  <app-main-spinner></app-main-spinner>
</div>

<app-top-header></app-top-header>

<app-navbar></app-navbar>

@if(accountService.decodedToken) {
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <!-- <app-admin-menu></app-admin-menu> -->
      </div>
      <div class="col-lg-9 p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}

<app-footer></app-footer>
<!-- <app-view-admins></app-view-admins>

 <app-view-admins></app-view-admins> -->

<!-- <app-view-users></app-view-users> -->
<app-view-users></app-view-users> 
<!-- <app-add-admin></app-add-admin> -->
<app-whatsapp-button></app-whatsapp-button>

