<div
  class="spinner"
  [ngClass]="{ show: loading, hidden: !loading }"
  class="spinner-container"
>
  <app-main-spinner></app-main-spinner>
</div>

<app-top-header></app-top-header>

<app-navbar></app-navbar>

<div class="container">
  <!-- @if(accountService.getTokenRole().toLowerCase() == 'admin') { -->
  <!-- @if(accountService.decodedToken) {

    <div class="row">
      <div class="col-lg-3">
          <app-admin-menu></app-admin-menu>
      </div>
      <div class="col-lg-9 p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
} @else { -->
  <div class="my-4">
    <router-outlet></router-outlet>
  </div>
<!-- } -->
</div>

<app-footer></app-footer>
