<ul class="orders-listing list-unstyled d-flex mt-4 mb-0 ps-0">
    <li><button class="pending" (click)="getPreviousOrders(0)" [ngClass]="{'active': ordersType=='pending'}"
            [disabled]="ordersType=='pending'">طلبات معلقة</button></li>
    <li><button class="accepted" (click)="getPreviousOrders(1)" [ngClass]="{'active': ordersType=='shipped'}"
            [disabled]="ordersType=='accepted'">تم الشحن</button></li>
    <li><button class="refused" (click)="getPreviousOrders(2)" [ngClass]="{'active': ordersType=='delivered'}"
            [disabled]="ordersType=='refused'">تم التوصيل</button></li>
    <li><button class="refused" (click)="getPreviousOrders(3)" [ngClass]="{'active': ordersType=='cancelled'}"
            [disabled]="ordersType=='refused'">تم الالغاء</button></li>
</ul>

<div class="orders" [ngStyle]="{backgroundColor: settingOrdersBacground()}">
    @if (!previousOrders?.items?.length) {
        <div class="col-10 text-center mt-5 mb-5 m-auto">
        <h5 class="text-muted p-3">لا يوجد طلبات {{ordersType}} فى الوقت الحالى</h5>
    </div>
    } @else {
        <div>
            <h2>{{ordersType + 'طلبات '}}</h2>
            <ul class="responsive-table">
                <li class="table-header fw-bold">
                    <div class="row">
                        <div class="col-md-3" [ngClass]="{'col-md-2': previousOrders.items[0].status == 1 || previousOrders.items[0].status == 2}">رقم الطلب</div>
                        <div class="col-md-2" [ngClass]="{'col-md-1': previousOrders.items[0].status}">عدد المنتجات</div>
                        <div class="col-md-3" [ngClass]="{'col-md-2': previousOrders.items[0].status}">السعر النهائى</div>
                        <div class="col-md-2">طريقة الدفع</div>
                        @if(previousOrders.items[0].status) {
                            <div class="col-md-2">تاريخ الرد</div>
                        }
                        @if(previousOrders.items[0].status == 1 || previousOrders.items[0].status == 2) {
                            <div class="col-md-2">تاريخ الوصول</div>
                        }
                        <div class="col-md-2" data-label="Details">اجراءات</div>
                    </div>
                </li>
                <li class="table-row" *ngFor="let order of previousOrders.items">
                    <div class="row align-items-center">
                        <div class="col-md-3" [ngClass]="{'col-md-2': previousOrders.items[0].status == 1 || previousOrders.items[0].status == 2}">{{order.orderId}}</div>
                        <div class="col-md-2" [ngClass]="{'col-md-1': previousOrders.items[0].status}">{{order.totalAmount}}</div>
                        <div class="col-md-3" [ngClass]="{'col-md-2': previousOrders.items[0].status}">{{order.totalPrice | currency:"ج.م"}}</div>
                        <div class="col-md-2">{{paymentMethods[order.paymentMethod]}}</div>
                        @if(previousOrders.items[0].status) {
                            <div class="col-md-2">{{order.responseDate| date: 'dd/MM/yyyy'}}</div>
                        }
                        @if(previousOrders.items[0].status == 1 || previousOrders.items[0].status == 2) {
                            <div class="col-md-2">{{order.arrivalDate| date: 'dd/MM/yyyy' }}</div>
                        }
                        <div class="col-md-2" data-label="Details"><a class="btn btn-primary">تفاصيل</a></div>
                    </div>
                </li>
            </ul>
        </div>
    }
</div>

<div>
    <mat-paginator [length]="totalPages"
            [pageSize]="pageSize"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="[10, 15, 25, 50]"
            [pageIndex]="pageNumber"
            (page)="getPreviousOrders(ordersStatuses.indexOf(ordersType))"
            aria-label="Select page">
    </mat-paginator>
</div>

<!-- Cart Details Modal -->
<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ordertDetails.client}} order <i>({{ordersType}} since 
        {{ordersType=='pending'? getDuration(ordertDetails.date) : ordersType=='refused'? getDuration(ordertDetails.refusedDate) : getDuration(ordertDetails.approvedDate)}})
      </i></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      
      <div class="card rounded-3 mb-4" *ngFor="let productDetails of ordertDetails.cartProducts">
        <div class="card-body p-4">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-2 text-center">
                <img
                src="{{productDetails.product.image}}"
                class="img-fluid rounded-3 image" alt="image">
            </div>
            <div class="col-lg-4">
                <p class="lead fw-normal mb-2">{{productDetails.product.title}}</p>
                <p><span class="text-muted">Item Price: </span><span class="badge text-bg-success">{{productDetails.product.price}} LE</span></p>
            </div>
  
            <div class="amount d-flex col-lg-3">
              <p><span class="text-muted">Item amount :</span><span class="fw-bold ms-1">{{productDetails.quantity}}</span></p>
            </div>
  
            <div class="col-lg-2 offset-lg-1 mt-2 mt-lg-0">
                <h5 class="mb-0 fw-bold">{{(productDetails.quantity * productDetails.product.price).toFixed(2)}} LE</h5>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card mb-4">
        <div class="card-body p-4 d-flex justify-content-between flex-wrap">
            <h5>Total Amount</h5>
            <h5 class="fw-bold">{{getCartPrice(ordertDetails.cartProducts)}} LE</h5>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body p-4 d-flex flex-wrap flex-column justify-content-center">
            <div class="text-muted lead text-center" *ngIf="mode=='admin'"><i>No review given yet</i></div>
            <div class="text-muted lead text-center" *ngIf="mode=='user' && ordersType=='pending'"><i>No response yet</i></div> 
            <div class="lead text-danger fw-bold text-center" *ngIf="mode=='user' && ordersType=='refused'">{{ordertDetails.message}}</div>
            <div class="lead text-success fw-bold text-center" *ngIf="mode=='user' && ordersType=='accepted'">Order is on the way</div>
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" #closeBtn (click)="modal.close('Close click')" [disabled]="orderLoading || removeCartLoading">Close</button>
    </div>
  </ng-template> -->