<!-- -->
<div class="card">
  <div class="user-info">
    <i class="fa-solid fa-user fa-2x" style="color: #B197FC;"></i>
    <h3>اسم العميل</h3>
  </div>
  <div class="review">
    <div class="stars">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequuntur repudiandae laboriosam quod eligendi aspernatur consequatur atque sequi tenetur accusamus repellat quo animi, cupiditate libero ad provident? Voluptatum, iusto quidem.</p>
  </div>
</div>
