<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-100 custom-carousel-img" src="../../../../assets/images/Elkory-Phone-Logo-High-Quality.png" alt="Second slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100 custom-carousel-img" src="../../../../assets/images/Elkory-Phone-Logo-High-Quality.png" alt="Third slide">
      <div class="carousel-caption">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, asperiores. Atque blanditiis ipsum autem tempore, adipisci quis veritatis ea laboriosam eum odio alias, iure quaerat labore hic eius. Ab, dolor.
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-100 custom-carousel-img" src="../../../../assets/images/306447380_1539843303101374_3738913682683006763_n.jpg" alt="Second slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100 custom-carousel-img" src="../../../../assets/images/Elkory-Phone-Logo-High-Quality.png" alt="Third slide">
      <div class="carousel-caption">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, asperiores. Atque blanditiis ipsum autem tempore, adipisci quis veritatis ea laboriosam eum odio alias, iure quaerat labore hic eius. Ab, dolor.
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- <div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img class="d-block w-100 custom-carousel-img" src="../../../../assets/images/306447380_1539843303101374_3738913682683006763_n.jpg" alt="Second slide">
      </div>
      <div class="carousel-item active">
        <img class="d-block w-100 custom-carousel-img" src="../../../../assets/images/Elkory-Phone-Logo-High-Quality.png" alt="Third slide">
        <div class="carousel-caption">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, asperiores. Atque blanditiis ipsum autem tempore, adipisci quis veritatis ea laboriosam eum odio alias, iure quaerat labore hic eius. Ab, dolor.
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
