/* src/app/components/review/review.component.css */
div[dir="rtl"] {
  text-align: right;
  margin: 20px 0px;
}

label {
  display: block;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  margin-top: 5px;
}

button {
  margin-top: 15px;
}


.star-rating {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  gap: 9px;
  font-size: 24px;
}
.stars{
  display: flex;
  flex-direction: row-reverse;
}
fa-icon {
  color: grey;
  cursor: pointer;

  &.rated,
  &:hover,
  &:hover ~ fa-icon
  {
    color: gold;
  }

  transition: color 0.3s ease-in-out;
}
