<!-- src/app/components/review/review.component.html -->
<div dir="rtl">
  <h2>إضافة تقييم</h2>
  <form (ngSubmit)="addReview()">
    <label for="productId">معرف المنتج:</label>
    <input type="number" id="productId" [(ngModel)]="rate.productId" name="productId" required>

    <label for="customerId">معرف العميل:</label>
    <input type="number" id="customerId" [(ngModel)]="rate.customerId" name="customerId" required>

    <label for="numOfStars">عدد النجوم:</label>
    <input type="number" id="numOfStars" [(ngModel)]="rate.numOfStars" name="numOfStars" min="1" max="5" required>

    <label for="comment">أضف تعليق:</label>
    <textarea id="comment" [(ngModel)]="rate.comment" name="comment" required></textarea>

    <label for="rateDate">تاريخ التقييم:</label>
    <input type="date" id="rateDate" [(ngModel)]="rate.rateDate" name="rateDate" required>

    <button type="submit">إرسال التقييم</button>
  </form>
</div>
<!--
<div dir="rtl">
  <h2>إضافة تقييم</h2>
  <form (ngSubmit)="addReview()">
    <label for="productId">معرف المنتج:</label>
    <input type="number" id="productId" [(ngModel)]="rate.productId" name="productId" required>

    <label for="customerId">معرف العميل:</label>
    <input type="number" id="customerId" [(ngModel)]="rate.customerId" name="customerId" required>



    <label for="numOfStars">عدد النجوم:</label>
    <div class="star-rating">
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
    </div>

    <label for="comment">أضف تعليق:</label>
    <textarea id="comment" [(ngModel)]="rate.comment" name="comment" required></textarea>

    <label for="rateDate">تاريخ التقييم:</label>
    <input type="date" id="rateDate" [(ngModel)]="rate.rateDate" name="rateDate" required>

    <button type="submit">إرسال التقييم</button>
  </form>
</div>
 -->
