.notification-container {
  position: relative;
}

#showNotificationList {
  &:hover i {
    animation: rotate-icon 2s ease-in-out;
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  display: none; /* Initially hide the dropdown */
}

.dropdown-menu.show {
  display: block; /* Show the dropdown when the 'show' class is added */
  opacity: 1;
}

.dropdown-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &.unread {
    background-color: #d1e7dd; /* Darker green background for unread notifications */
    transform: scale(1.05);
    animation: notification-entry 0.3s ease-in-out;
  }

  &.read {
    background-color: #e9ecef; /* Light gray background for read notifications */
    transform: scale(1);
  }

  &:last-child {
    border-bottom: none;
  }
}

#notificationDropdown {
  position: absolute;
  top: 100%; /* Position the dropdown below the button */
  right: -150px; /* Adjust the right position as needed */
  min-width: 150px;
  max-width: 300px; /* Adjust the width as needed */
  max-height: 400px; /* Limit the maximum height */
  overflow-y: auto; /* Enable scrolling if the content overflows */
  z-index: 1000; /* Ensure it appears above other content */
  background-color: white; /* Background color */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Add some shadow for better visibility */
}

@keyframes notification-entry {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg); /* Rotate anticlockwise */
  }
  100% {
    transform: rotate(45deg); /* Rotate clockwise */
  }
}
