.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #faf5f5, #ccc3e2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    animation: fadeInDown 1s ease-in-out;
}

.register-form {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    max-width: 500px;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s;
}

.register-form:hover {
    transform: translateY(-10px);
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-image {
    width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
    animation: zoomIn 0.5s ease-in-out, rotate 10s infinite linear;
}

.form-title {
    font-size: 1.5rem;
    font-family: 'Cairo';
    color: #007bff;
    animation: fadeInUp 0.5s ease-in-out;
}

.label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
    animation: fadeInUp 0.5s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
    animation: fadeInUp 0.5s ease-in-out;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.btn-submit {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    animation: fadeInUp 1s ease-in-out;
}

[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}

.btn-submit:hover {
    background: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}