

<div dir="rtl">
    <div class="row">
        <div class="col mb-3 d-flex flex-wrap">
        
        </div>
        <div class="col mb-3 d-flex justify-content-between align-items-center gap-3">
            <label for="sorting">الترتيب</label>
            <select class="form-select" id="sorting" (change)="getProductsPaginated(pageNumber+1, pageSize)" [(ngModel)]="sortingOption">
                <option value="all">الكل</option>
                <option value="price_des">الأعلى سعرا</option>
                <option value="price_asc">الأقل سعرا</option>
                <option value="amount_des">ألأكثر كمية</option>
                <option value="amount_asc">ألأقل كمية</option>
                <option value="discount_des">الأعلى خصما</option>
                <option value="discount_asc">الأقل خصما</option>
            </select>
        </div>
    </div>

  

    <div class="product-list-container">
      <div *ngFor="let product of products; let i = index" class="product-card">
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="text-center">
              <img [src]="images[i] ? images[i][0] : ''" class="img-fluid rounded-3 image" alt="{{product.name}}" />
            </div>
            <h5 class="mt-3">{{ product.name }}</h5>
            <p>
              <span class="text-muted">Price: </span>
              <span class="price">{{ product.finalPrice | currency: "USD" }}</span>
            </p>
            <p *ngIf="product.originalPrice !== product.finalPrice">
              <span class="text-muted">Original Price: </span>
              <span class="original-price">{{ product.originalPrice | currency: "USD" }}</span>
              <span class="badge bg-danger ms-2">{{ getDiscountPercentage(product.originalPrice, product.finalPrice) }}% off</span>
            </p>
            <button [routerLink]="['/customer-products/product-details', product.productId]" class="btn btn-primary w-100 mt-2">View Details</button>
          </div>
        </div>
      </div>
    </div>
    
      

    <div>
        <mat-paginator [length]="productsTotalAmount"
                [pageSize]="pageSize"
                [showFirstLastButtons]="true"
                [pageSizeOptions]="[9, 15, 25, 50]"
                [pageIndex]="pageNumber"
                (page)="getProductsPaginated($event.pageIndex+1, $event.pageSize)"
                aria-label="Select page">
        </mat-paginator>
    </div>
    
</div>





