<div class="h-100">
    <section class="h-100 mt-5" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10 text-center" *ngIf="reviewOrderModel.productsAmounts && reviewOrderModel.productsAmounts.length == 0">
                    <h3 class="text-muted">لم يتم اضافة منتجات الى العربة!</h3>
                    <a [routerLink]="['/customer-products']" class="btn btn-primary btn-lg w-80 mt-3">أضف بعض
                        المنتجات</a>
                </div>

                <div class="col-10" *ngIf="reviewOrderModel?.productsAmounts?.length">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">تأكيد الطلب - عدد
                            المنتجات : {{reviewOrderModel.productsAmounts.length}}</h3>
                    </div>

                    <div class="offer" *ngIf="reviewOrderModel.applicableOffers?.length">
                        <label class="form-label">اختر العرض لتطبيقه على طلبك</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="reviewOrderModel.offerId">
                            <option value="-1" selected>اختر عرض...</option>
                            <option value="{{offer.offerId}}" *ngFor="let offer of reviewOrderModel.applicableOffers">
                                {{offer.title}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="reviewOrderModel.offerId == -1">يرجى تحديد عرض</span>
                    </div>

                    <div class="card rounded-3 mb-4" *ngFor="let product of reviewOrderModel.productsAmounts">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-lg-2 col-xl-2 text-center">
                                    @if(product.productImages)
                                    {
                                        <img [src]="product.productImages[0].imageUri" class="img-fluid rounded-3 image">
                                    }
                                    @else 
                                    {
                                        <img src="assets/images/no-image.png" class="img-fluid rounded-3 image">
                                    }
                                </div>
                                <div class="col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">{{product.name}}</p>
                                    <p><span class="text-muted ms-1">سعر المنتج</span><span
                                            class="badge text-bg-success">{{product.finalPrice}}ج.م</span></p>
                                </div>

                                <div class="amount d-flex col-lg-3 col-xl-2">
                                    <input type="number" inputmode="numeric" class="form-control" value="{{product.amount}}" readonly>
                                </div>

                                <div class="col-lg-3 col-xl-3 offset-lg-1 mt-2 mt-lg-0">
                                    <h5 class="mb-0 fw-bold">{{(product.amount * product.finalPrice).toFixed(2)}}ج.م</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex justify-content-between align-items-center">
                            <h5>اجمالى التكلفة</h5>
                            <h5 class="fw-bold">{{reviewOrderModel.finalPrice}} ج.م</h5>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body p-4">
                            <button type="button" class="btn btn-warning btn-lg w-100 text-uppercase light h4"
                                (click)="confirmOrder()" [disabled]="reviewOrderModel.offerId == -1">تأكيد الطلب</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
