








<nav class="navbar navbar-collapse navbar-expand-lg navbar-dark categories">
    <div class="container-fluid">
      <!-- Burger button moved to the left side -->
      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse flex-column flex-md-row" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-around">
          <li class="nav-item">
            <p class="nav-link home" [routerLink]="['/']" [ngClass]="{'active-category': activeCategory === 'home'}" (click)="setActiveCategory('home')">الرئيسية</p>
          </li>


          <li *ngFor="let category of Categories" class="nav-item">
            <p class="nav-link {{category.name}} " [routerLink]="['/categoryDetails/', category.categoryId]" [ngClass]="{'active-category': activeCategory === category.name}" (click)="setActiveCategory(category.name)" tabindex="0">{{category.name}}</p>
            <ul class="horizontal-list subcategories">
              <!-- <li><img src="assets/images/no-image.png" alt="" class="img-fluid rounded-3 image">
              </li> -->
                  <li *ngFor="let subcategory of category.subCategories">
                    <a  class=" subcategorytitle">{{subcategory.name}}</a>
                  <!-- <hr/> -->
                <ul class="vertical-list" >
                  <li    *ngFor="let value of subcategory.values">
                    <a routerLink="/customer-products/subcategoryproducts/{{category.categoryId}}/{{subcategory.subCategoryId}}/{{value.value}}">   
                                        {{value.value}}
                    </a>
                    
                  </li>
                </ul>
              </li>
                  <li >
                    <img *ngIf="category.subCategories.length==3" style="margin-right: 65.0rem; margin-top: -9.375rem;  " src="{{category.imageUri ||'assets/images/no-image.png'}}" alt="" class="img-fluid rounded-3 image">
                    <img *ngIf="category.subCategories.length==2" style="margin-right: 65.0rem;  margin-top: -12.5rem;" src="{{category.imageUri ||'assets/images/no-image.png'}}"  alt="" class="img-fluid rounded-3 image">
                    <img *ngIf="category.subCategories.length==1" style="margin-right: 65.0rem;  " src="{{category.imageUri ||'assets/images/no-image.png'}}"  alt="" class="img-fluid rounded-3 image">

                  </li>

            </ul>
          </li>


        </ul>
      </div>
    </div>
  </nav>







  

  

 


  