/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Cairo", sans-serif !important; 
    --fontcolor: black;
    --maincolor: white;
    --textfont: 'Poppins', sans-serif;
    --headerfont: 'Yeseva One', serif;
    --paragrahcolor: #585858;
    --mainheight: 80vh;
    --secondaryheight: 45vh;
    --sectionpadding: .7rem;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


