<h2 mat-dialog-title class="dialog-title">حذف العرض <span class="font-bold text-danger">{{data.offerTitle}}</span></h2>
<mat-dialog-content class="dialog-content" maxWidth="90vw">
    <p class="lead">هل أنت متأكد من حذف العرض {{data.offerTitle}}</p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="confirmOfferDelete()" class="btn btn-danger">حذف</button>
    <button mat-button (click)="onNoClick()" class="btn btn-secondary">الغاء</button>
</mat-dialog-actions>
